<a href="https://colab.research.google.com/github/faelbcosta/treinamento/blob/main/Competi%C3%A7%C3%A3o_FLAI_T6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **6ª Competição FLAI**

Este Notebook tem por objetivo demonstrar como foi elaborado um modelo de Classificação de Machine Learning com o intuito de prever dentre um conjunto de funcionários de uma determinada empresa, quais são os funcionários que irão sair (pedir demissão) nos próximos 02(dois) anos.

In [1]:
# Montando o drive para que possa realizar a importação dos arquivos
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# importa as bases de treino e teste que se encontram no Google Drive
import pandas as pd

treino = pd.read_csv('/content/drive/MyDrive/competicao-6/treino.csv')
teste = pd.read_csv('/content/drive/MyDrive/competicao-6/teste.csv')

In [3]:
# verifica a base de treino
treino.head()

  Escolaridade  Entrada Cidade  Salário  ... Projeto Experiência Saiu  Feedbacks
0    Doutorado     2016  Natal        3  ...     Não           3    0          0
1    Doutorado     2014  Natal        3  ...     Não           3    0          1
2    Doutorado     2013  Natal        3  ...     Não           0    0          0
3    Doutorado     2016  Natal        3  ...     Não           2    1          0
4    Doutorado     2018  Natal        3  ...     Sim           5    1          0

[5 rows x 10 columns]

## Pré-processamento dos dados

In [4]:
# substituição dos valores de Escolaridade
treino.loc[treino['Escolaridade'] == '---','Escolaridade']=0
teste.loc[teste['Escolaridade'] == '---','Escolaridade']=0
treino.loc[treino['Escolaridade'] == 'Doutorado','Escolaridade']=1
teste.loc[teste['Escolaridade'] == 'Doutorado','Escolaridade']=1

In [5]:
# criando uma função para localizar o ano de entrada
def loc_entrada_treino(x):
    y = treino['Entrada'].iloc[x]
    return y

def loc_entrada_teste(x):
    y = teste['Entrada'].iloc[x]
    return y

In [6]:
# cria uma nova coluna para identificar o tempo de Permanencia na empresa
treino['Permanencia'] = 0
teste['Permanencia'] = 0

In [7]:
# cria função para inserir valores na variável Permanencia
def alter_entrada_treino(x):
    z = 2021 - loc_entrada_treino(x)
    return z

In [8]:
# cria função para inserir valores na variável Permanencia
def alter_entrada_teste(x):
    p = 2021 - loc_entrada_teste(x)
    return p

In [9]:
#inserindo valores na variável permanencia da base treino
q = len(treino)
r = list(range(0,q))
for x in r:
    treino['Permanencia'].iloc[x] = alter_entrada_treino(x)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [10]:
#inserindo valores na variável permanencia da base teste
f = len(teste)
g = list(range(0,f))
for x in g:
    teste['Permanencia'].iloc[x] = alter_entrada_teste(x)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [11]:
#deletando as colunas entrada da base treino e teste
treino = treino.drop(columns=['Entrada'])
teste = teste.drop(columns=['Entrada'])

In [12]:
# transformando as variáveis categóricas
treino = pd.get_dummies(treino, columns = ['Cidade'], dtype=int)
teste = pd.get_dummies(teste, columns = ['Cidade'], dtype=int)

In [13]:
# substituição dos valores de Salário
teste.loc[teste['Salário'] == 1,'Salário']='A'
treino.loc[treino['Salário'] == 1,'Salário']='A'
teste.loc[teste['Salário'] == 3,'Salário']=1
treino.loc[treino['Salário'] == 3,'Salário']=1
teste.loc[teste['Salário'] == 'A','Salário']=3
treino.loc[treino['Salário'] == 'A','Salário']=3

In [14]:
#transforma os string em numérico
treino.loc[treino['Idade'] == '---','Idade']=0
teste.loc[teste['Idade'] == '---','Idade']=0

In [15]:
#converte o tipo da variável
treino['Idade'] = treino['Idade'].astype('int')
teste['Idade'] = teste['Idade'].astype('int')

In [16]:
# faz a normalização dos dados
a = int(treino['Idade'].mean())
b = int(teste['Idade'].mean())

treino.loc[treino['Idade'] == 0,'Idade']=a
teste.loc[teste['Idade'] == 0,'Idade']=b

In [17]:
#transformando variável sexo
treino.loc[treino['Sexo'] == 'Masculino','Sexo']=0
teste.loc[teste['Sexo'] == 'Masculino','Sexo']=0
treino.loc[treino['Sexo'] == 'Feminino','Sexo']=1
teste.loc[teste['Sexo'] == 'Feminino','Sexo']=1

In [18]:
#transformando variável projetos
treino.loc[treino['Projeto'] == '---','Projeto']='ausente'
teste.loc[teste['Projeto'] == '---','Projeto']='ausente'

In [19]:
# transformando as variáveis categóricas
treino = pd.get_dummies(treino, columns = ['Projeto'], dtype=int)
teste = pd.get_dummies(teste, columns = ['Projeto'], dtype=int)

In [20]:
# substituição dos valores de feedback
teste.loc[teste['Feedbacks'] == 0,'Feedbacks']='A'
treino.loc[treino['Feedbacks'] == 0,'Feedbacks']='A'
teste.loc[teste['Feedbacks'] == 1,'Feedbacks']='B'
treino.loc[treino['Feedbacks'] == 1,'Feedbacks']='B'
teste.loc[teste['Feedbacks'] == 3,'Feedbacks']=1
treino.loc[treino['Feedbacks'] == 3,'Feedbacks']=1
teste.loc[teste['Feedbacks'] == 4,'Feedbacks']=0
treino.loc[treino['Feedbacks'] == 4,'Feedbacks']=0
teste.loc[teste['Feedbacks'] == 'A','Feedbacks']=4
treino.loc[treino['Feedbacks'] == 'A','Feedbacks']=4
teste.loc[teste['Feedbacks'] == 'B','Feedbacks']=3
treino.loc[treino['Feedbacks'] == 'B','Feedbacks']=3

In [21]:
print(treino.dtypes)

Escolaridade          object
Salário               object
Idade                  int64
Sexo                  object
Experiência            int64
Saiu                   int64
Feedbacks             object
Permanencia            int64
Cidade_João Pessoa     int64
Cidade_Natal           int64
Cidade_Recife          int64
Projeto_Não            int64
Projeto_Sim            int64
Projeto_ausente        int64
dtype: object

In [22]:
#converter as variáveis em numéricos
treino['Escolaridade'] = treino['Escolaridade'].astype('int')
teste['Escolaridade'] = teste['Escolaridade'].astype('int')
treino['Salário'] = treino['Salário'].astype('int')
teste['Salário'] = teste['Salário'].astype('int')
treino['Sexo'] = treino['Sexo'].astype('int')
teste['Sexo'] = teste['Sexo'].astype('int')
treino['Feedbacks'] = treino['Feedbacks'].astype('int')
teste['Feedbacks'] = teste['Feedbacks'].astype('int')

In [23]:
treino['Saiu'].value_counts()

0    1820
1    1096
Name: Saiu, dtype: int64

In [24]:
# realiza o balanceamento das bases
zero  = treino[treino['Saiu']==0]   #zero values in outcome column
one = treino[treino['Saiu']==1]  # one values in outcome column
from sklearn.utils import resample
#df_minority_zero = resample(zero, replace = True, n_samples = 2000) 
df_minority_one = resample(one, replace = True, n_samples = 1820) 

# concatena as variáveis "zero" e "one"
treino = pd.concat([df_minority_one, zero])

# realiza um ordenamento aleatório das variáveis
from sklearn.utils import shuffle
treino = shuffle(treino)

In [25]:
#Criando variaveis independentes e dependentes

X = treino.drop('Saiu',axis=1)
y = treino['Saiu']

X_teste = teste

In [26]:
# Separando em dados teste e treinamento 
from sklearn.model_selection import train_test_split 

x_treino, x_teste, y_treino, y_teste  = train_test_split(X, y, test_size = 0.25,random_state = 1)

## Modelo de Classificação - Random Forest

Para esta competição, utilizou-se somente o modelo de classificação Random Forest para buscar obter um melhor desempenho, realizando diversas tentativas ajustando somente os parâmetros do modelo

In [28]:
# Importando as principais bibliotecas a serem utilizadas
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier 

from sklearn.model_selection import cross_validate
from sklearn.model_selection import StratifiedKFold

In [29]:
# verificando o desempenho pelo modelo de classificação Random Forest
from sklearn.ensemble import RandomForestClassifier

validacao_forest = StratifiedKFold(n_splits = 10)

modelo_forest = RandomForestClassifier(n_estimators = 1000, random_state = 60, max_depth=90) 

medidas_accuracy_forest = cross_validate(modelo_forest, X, y, cv = validacao_forest, 
                                         scoring = 'accuracy')
medidas_f1_forest = cross_validate(modelo_forest, X, y, cv = validacao_forest, 
                                   scoring = 'f1')
print('accuracy = ', medidas_accuracy_forest['test_score'].mean())
print('f1 = ', medidas_f1_forest['test_score'].mean())

accuracy =  0.8472527472527472
f1 =  0.8509224995911581

In [30]:
# realizando o Fit do modelo
modelo_forest.fit(X, y)

RandomForestClassifier(max_depth=90, n_estimators=1000, random_state=60)

In [31]:
# executando o modelo na base de teste e realiza a análise da matriz de confusão
modelo_final = modelo_forest.predict(x_teste)
print(pd.crosstab(y_teste,modelo_final, rownames=['Real'], colnames=['Predito'], margins=True))

Predito    0    1  All
Real
0        420   25  445
1         22  443  465
All      442  468  910

In [32]:
# cria um dataframe para obter o modelo para realizar a submissão na competição, considerando somente a variável "Saiu"
subm_forest = pd.DataFrame()
subm_forest['Saiu'] = modelo_final

In [33]:
# verifica o quantitivo de '0' e '1' do modelo final obtido
subm_forest['Saiu'].value_counts()

1    468
0    442
Name: Saiu, dtype: int64

In [34]:
# salva a submissão para postar na competição
subm_forest.to_csv('/content/submissão.csv', index = False)